<!-----------------------------------début SWIPER------------------------------------>
<section class="transparent">
  <div class="swiper-container" id="suite">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide3">
        <div class="blocTexte">
          <h2 data-swiper-parallax="-400"><span>Actions Asept</span>
            Association santé éducation et prévention sur les territoires en Limousin</h2>
          <p class="text-center"><a href="/a-propos/presentation-de-l-asept-limousin" class="btn resa centrageitem1"
              style="text-shadow: none!important">Qui sommes-nous ?</a></p>
        </div>
      </div>
      <div class="swiper-slide slide1">
        <div class="blocTexte">
          <h1 data-swiper-parallax="-400"><span>Séniors à domicile</span>
            Agir pour préserver votre capital santé</h1>
          <p class="text-center"><a href="/page/actions-seniors-a-domicile" class="btn resa centrageitem1">En savoir
              +</a></p>
        </div>
      </div>
      <div class="swiper-slide slide2">
        <div class="blocTexte">
          <h2 data-swiper-parallax="-400"><span>Séniors en institution</span>
            Agir pour améliorer la qualité de vie des résidents</h2>
          <p class="text-center"><a href="/page/actions-seniors-en-institution"
              class="btn resa centrageitem1">En savoir +</a></p>
        </div>
      </div>

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>

    <div class="courbe"></div>
  </div>


</section>
<!-------------------------------------fin swiper-------------------------------------->