<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <h2 class="titrebis colorVert"><i class="fas fa-map-marker-alt fa-lg"></i> Nos actions près
            de chez vous</h2>
        <div class="lacarteAAA">
            <img src="{{ asset('img/carte-Asept-limousin-b.png' , 'theme') }}" id="creaa" name="creaa" class="img-fluid"
                alt="carte actions Association santé éducation et prévention sur les territoires Charentes"
                usemap="#Map">
            <map name="Map">
                <area shape="poly"
                    coords="269,52,300,17,367,37,372,8,474,25,525,20,544,60,591,95,630,224,564,284,591,323,574,335,556,335,530,352,450,312,409,339,411,308,366,270,342,277,323,256,311,208,276,124,256,107,278,64,271,50"
                    href="/pages/actions-creuse"
                    onMouseOver="MM_swapImage('creaa','','{{ asset('img/carte-Asept-limousin-23v.png' , 'theme') }}',1)"
                    onMouseOut="MM_swapImgRestore()">
                <area shape="poly"
                    coords="240,27,272,66,253,109,276,132,319,258,345,285,363,276,408,311,406,335,412,349,376,355,309,405,274,402,235,439,220,430,204,448,167,430,182,408,142,385,83,378,77,387,60,367,53,333,23,323,72,277,79,234,120,214,82,175,84,106,110,83,136,81,154,44,189,35,230,38,242,30"
                    href="/pages/actions-haute-vienne"
                    onMouseOver="MM_swapImage('creaa','','{{ asset('img/carte-Asept-limousin-87v.png' , 'theme') }}',1)"
                    onMouseOut="MM_swapImgRestore()">
                <area shape="poly"
                    coords="417,340,454,318,531,357,560,339,580,342,591,327,606,346,584,394,602,415,590,464,602,481,591,487,558,468,550,510,499,557,510,580,467,622,481,659,411,662,365,679,321,635,289,627,270,642,251,594,210,575,215,537,203,526,232,484,215,466,209,451,223,438,243,443,280,407,313,411,381,358,420,355,418,341"
                    href="/pages/actions-correze"
                    onMouseOver="MM_swapImage('creaa','','{{ asset('img/carte-Asept-limousin-19v.png' , 'theme') }}',1)"
                    onMouseOut="MM_swapImgRestore()">
            </map>
        </div>
    </div>
</div>