<section class="transparent">
    <div class="swiper-container" id="suite">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide3">
                <div class="blocTexte">
                    <h2 data-swiper-parallax="-400"><span>Nos actions</span>
                        L'ASEPT en Corrèze 19</h2>
                </div>
            </div>

        </div>
       
    </div>
    <div class="courbe"></div>

</section>