<section class="clienteles">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2 class="titrebis">Nos publics | les actions de l'Asept limousin</h2>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 height-fill">
                    <ul class="nopuce2">
                        <h3 class="titre">Séniors à domicile</h3>
                        <li class="text-center"><a href="/pages/actions-seniors-a-domicile"><img
                                    src="{{ asset('img/clienteles/asept-limousin-actions-seniors-domicile.jpg' , 'theme') }}" class="img-fluid"
                                    alt="actions séniors à domicile asept imousin" /></a></li>
                        <li>Les seniors sont de plus en plus nombreux dans notre société et l’espérance de vie ne cesse
                            d’augmenter.</li>
                        <li><a href="/pages/actions-seniors-a-domicile" class="btn resa ">En savoir +</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 height-fill institution">
                    <ul class="nopuce2">
                        <h3 class="titre">Séniors en institution</h3>
                        <li class="text-center"><a href="/pages/actions-seniors-en-institution"><img
                                    src="{{ asset('img/clienteles/asept-limousin-actions-seniors-institution.jpg' , 'theme') }}"
                                    class="img-fluid" alt="actions séniors en institution asept imousin" /></a></li>
                        <li>Beaucoup de personnes âgées, en raison de l'accroissement de la longévité et de la perte
                            d'autonomie qu'elle entraîne, doivent aujourd'hui entrer en institution.</li>
                        <li><a href="/pages/actions-seniors-en-institution" class="btn resa ">En savoir
                                +</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</section>