<section class="actucarte">



    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-3 height-fill">
                <ul class="nopuce2">
                    <h3 class="titre">Des conférences-débats</h3>
                    <li class="text-center"><a href="/pages/des-conferences-debats"><img
                                src="{{ asset('img/action-senior-domicile-9.jpg' , 'theme') }}" class="img-fluid"
                                alt="actions séniors à domicile asept imousin" /></a></li>
                    <li>Informations et échanges avec un professionnel de santé autour des clés du bien vieillir.</li>
                    <li><a href="/pages/des-conferences-debats" class="btn resa ">En savoir +</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 height-fill">
                <ul class="nopuce2">
                    <h3 class="titre">Des réunions de prévention</h3>
                    <li class="text-center"><a href="/pages/reunion-prevention"><img
                                src="{{ asset('img/action-senior-domicile-6.jpg' , 'theme') }}" class="img-fluid"
                                alt="actions séniors asept imousin" /></a></li>
                    <li>Animées par des professionnels, elles abordent différents thèmes de prévention (alimentation,
                        accidents domestiques, santé et conduite…).</li>
                    <li><a href="/pages/reunion-prevention" class="btn resa ">En savoir +</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 height-fill">
                <ul class="nopuce2">
                    <h3 class="titre">Des ateliers thématiques</h3>
                    <li class="text-center"><a href="/page/ateliers-seniors-a-domicile"><img
                                src="{{ asset('img/action-senior-domicile-8.jpg' , 'theme') }}" class="img-fluid"
                                alt="actions grand public asept limousin" /></li>
                    <li>Des ateliers thématiques animés par des professionnels</li>
                    <li><a href="/page/ateliers-seniors-a-domicile" class="btn resa ">En savoir +</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 height-fill">
                <ul class="nopuce2">
                    <h3 class="titre">Des actions Théâtre</h3>
                    <li class="text-center"><a href="/pages/actions-theatre-seniors-a-domicile"><img
                                src="{{ asset('img/action-senior-domicile-6quad.jpg' , 'theme') }}" class="img-fluid"
                                alt="actions grand public asept limousin" /></li>
                    <li>Pièce de théâtre : Qu'est-ce qu'on attend pour être vieux? ET Théâtre-Forum : Points d'appui -
                        Situation aidant/aidé</li>
                    <li><a href="/pages/actions-theatre-seniors-a-domicile" class="btn resa ">En savoir +</a></li>
                </ul>
            </div>
        </div>

    </div>

</section>