 <!--agenda-->
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 height-fill institution">
                    <ul class="nopuce4">
                        <i class="far fa-calendar-check picto"></i>
                        <h3 class="titre">Agendas Séniors en institution</h3>
                        <li class="text-center"><img src="{{ asset('img/ateliers/ateliers-seniors-en-institution-challenge.jpg' , 'theme') }} "
                                class="img-fluid" alt="actions séniors à domicile asept imousin" /></li>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 height-fill">
                                <li><a href="/page/agenda-correze-seniors-en-institution"
                                        class="btn resa "><i class="far fa-calendar-check"></i> Agenda
                                        Corrèze 19</a></li>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 height-fill">
                                <li><a href="/page/agenda-creuse-seniors-en-institution" class="btn resa "><i
                                            class="far fa-calendar-check"></i> Agenda
                                        Creuse 23</a></li>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 height-fill">
                                <li><a href="/page/agenda-haute-vienne-seniors-en-institution"
                                        class="btn resa "><i class="far fa-calendar-check"></i> Agenda Haute
                                        Vienne 87</a></li>
                            </div>
                        </div>
                    </ul>
                </div>
                <!--FIN AGENDA-->