<section class="clienteles">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 class="titrebis">Agendas selon votre département | les actions de l'Asept limousin</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 height-fill">
                <ul class="nopuce3">
                    <i class="far fa-calendar-check picto"></i>
                    <h3 class="titre">Agendas Séniors à domicile</h3>
                    <li class="text-center"><img src="{{ asset('img/clienteles/asept-limousin-actions-seniors-domicile-240.jpg' , 'theme') }}"
                            class="img-fluid" alt="actions séniors à domicile asept imousin" /></li>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-correze-seniors-a-domicile" class="btn resa "><i
                                        class="far fa-calendar-check"></i> Agenda Corrèze 19</a></li>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-creuse-seniors-a-domicile" class="btn resa "><i
                                        class="far fa-calendar-check"></i> Agenda Creuse 23</a></li>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-haute-vienne-seniors-a-domicile" class="btn resa "><i
                                        class="far fa-calendar-check"></i> Agenda Haute Vienne 87</a></li>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 height-fill institution">
                <ul class="nopuce3">
                    <i class="far fa-calendar-check picto"></i>
                    <h3 class="titre">Agendas Séniors en institution</h3>
                    <li class="text-center"><img
                            src="{{ asset('img/clienteles/asept-limousin-actions-seniors-institution-240.jpg' , 'theme') }}" class="img-fluid"
                            alt="actions séniors en institution asept imousin" /></li>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-correze-seniors-en-institution" class="btn resa "><i
                                        class="far fa-calendar-check"></i> Agenda Corrèze 19</a></li>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-creuse-seniors-en-institution" class="btn resa "><i
                                        class="far fa-calendar-check"></i> Agenda Creuse 23</a></li>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 height-fill">
                            <li><a href="/page/agenda-haute-vienne-seniors-en-institution"
                                    class="btn resa "><i class="far fa-calendar-check"></i> Agenda Haute Vienne 87</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>