<div class="row btnblock">
        <a href="/page/agenda-creuse-seniors-en-institution" class="btn btn-lg btn-primary boutonactif"><i
                        class="fas fa-angle-double-right"></i> Agenda complet</a>
        <a href="/page/agenda-creuse-pac-residents-memoires" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i>Atelier PAC Résidents Mémoire</a>
        <a href="/page/agenda-creuse-pac-residents-ardoiz" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i>Atelier PAC Résidents Ardoiz</a>

</div>