<div class="row btnblock">
        <a href="/page/agenda-haute-vienne-seniors-en-institution" class="btn btn-lg btn-primary boutonactif"><i
                        class="fas fa-angle-double-right"></i> Agenda complet</a>
        <a href="/page/agenda-haute-vienne-pac-residents-memoires" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i>Atelier PAC Résidents Mémoire</a>
        <a href="/page/agenda-haute-vienne-pac-residents-ardoiz" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i>Atelier PAC Résidents Ardoiz</a>
        <a href="/page/agenda-haute-vienne-pac-yoga-du-rire" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Yoga du rire</a>
</div>