<div class="row btnblock">
        <a href="/page/agenda-haute-vienne-seniors-a-domicile" class="btn btn-lg btn-primary boutonactif"><i
                        class="fas fa-angle-double-right"></i> Agenda
                complet</a>
        <a href="/page/agenda-haute-vienne-ateliers-piece-de-theatre" class="btn btn-lg btn-primary"><i class="fas fa-angle-double-right"></i>
                Action Pièce de théâtre</a>
        <a href="/page/agenda-haute-vienne-ateliers-forum-theatre" class="btn btn-lg btn-primary"><i class="fas fa-angle-double-right"></i>
                Action théâtre forum </a>
        <a href="/page/agenda-haute-vienne-conference-debats-seniors-soyez-acteurs-de-votre-sante" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Conférences-débats </a>
        <a href="/page/agenda-haute-vienne-reunion-prevention-bien-chez-soi-adaptation-du-logement" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i>Atelier Réunion-prévention</a>
        <a href="/page/agenda-haute-vienne-ateliers-vitalite" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Vitalité</a>
        <a href="/page/agenda-haute-vienne-ateliers-memoire-peps-eureka" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier mémoire PEPS EURÊKA</a>
        <a href="/page/agenda-haute-vienne-ateliers-objectif-physique-et-equilibre" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Objectif équilibre</a>
        <a href="/page/agenda-haute-vienne-ateliers-nutrition-sante" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Nutrition Santé Séniors</a>
        <a href="/page/agenda-haute-vienne-ateliers-sante-vous-bien-au-volant" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Santé vous bien au volant</a>
        <a href="/page/agenda-haute-vienne-ateliers-vers-un-habitat-facile-a-vivre" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Vers un habitat facile à vivre</a>
        <a href="/page/agenda-haute-vienne-ateliers-cap-bien-etre" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier CAP bien être</a>
        <a href="/page/agenda-haute-vienne-ateliers-preservons-nous" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Préservons-nous</a>

        <a href="/page/agenda-haute-vienne-ateliers-sommeil" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Sommeil </a>
        <a href="/page/agenda-haute-vienne-ateliers-bienvenue-a-la-retraite" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Bienvenue à la retraite </a>
        <a href="/page/agenda-haute-vienne-ateliers-nutri-activ" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Nutri Activ </a>
        <a href="/page/agenda-haute-vienne-ateliers-autonomie-numeriques" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Autonomie Numérique </a>
        <a href="/page/agenda-haute-vienne-yoga-du-rire" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier Yoga du rire </a>                
        <a href="/page/agenda-haute-vienne-ateliers-en-ligne" class="btn btn-lg btn-primary"><i
                        class="fas fa-angle-double-right"></i> Atelier en ligne </a>

</div>