{% extends 'partials/_master.twig' %}

{% block main %}





<div class="clearfix"></div>

<!-------------------------------------début SWIPER------------------------------------->
<section class="transparent">
    <div class="swiper-container" id="suite">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide3">
                <div class="blocTexte">
                    <h2 data-swiper-parallax="-400"><span>Mentions légales</span>
                        Asept Limousin</h2>
                    <!---
           <p class="text-center"><a href="a-propos-de-l-asept.html" class="btn resa centrageitem1" style="text-shadow: none!important" >Qui sommes-nous ?</a></p>--->
                </div>
            </div>

        </div>
        <!---
        <div class="swiper-pagination"></div>        
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>--->
    </div>
    <div class="courbe"></div>

</section>
<!-------------------------------------fin swiper-------------------------------------->
{% include "partials/_menu.twig" %}
<section class="clienteles">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">


                <h2 class="ligne ">Mentions Légales</h2>


                <h2 class="ligne ">Editeur</h2>


                <p><strong style="font-weight: 800">Le présent site est la propriété de :</strong></p>
                <p>Association Santé Education et Prévention sur les Territoires (ASEPT) du Limousin, association loi
                    1901, dont le siège est situé :<br>
                    ASEPT Limousin<br>
                    1 Impasse Sainte Claire<br>
                    87000 LIMOGES<br>
                    Tél. : 05 55 49 85 57<br>
                    Responsable de la publication : Marie-France DUSSOULIER<br>
                    <a href="mailto:contact@asept-limousin.fr">contact@asept-limousin.fr</a>
                </p>

                <h2>Réalisation et Hébergement</h2>
                <p><strong style="font-weight: 800">Le site est réalisé par :</strong> <br>
                    Bernezac Communication S.A.R.L.<br>

                    Siège social : 7, rue des Roseaux – 17420 Saint-Palais-sur-Mer<br>

                    S.A.R.L. au capital de 37 500 €<br>

                    N° d'identification: 450 247 523 R.C.S. SAINTES<br>

                    e-mail : <a href="mailto:contact@bernezac.com">contact@bernezac.com</a> <br>
                    Bernezac est une marque enregistrée, I.N.P.I. N° 03 3 223 538<br>


                    Représentant légal : Michel BUSSEREAU, Gérant </p>
                <p><strong style="font-weight: 800">Le site est hébergé par :</strong> <br>

                    <a href="https://www.ovh.com/fr/" target="_blank">https://www.ovh.com/fr/</a>
                </p>
                <p><strong style="font-weight: 800">L'hébergement est supervisé par la société</strong> <br>
                    <a href="https://www.turbino.com/" target="_blank">TURBINO</a><br>
                    KotchoTchestimenski 12 – Asenovgrad 4230 – Bulgarie<br>
                    <a href="mailto:support@turbino.com">support@turbino.com</a>
                </p>
                <p>L’accès et l’utilisation de ces sites sont fournis par Bernezac Communication et sont soumis aux
                    conditions d’utilisation ci-dessous. </p>
                <h2>Propriété intellectuelle</h2>
                <p>Le présent site Internet et l'ensemble de son contenu, y compris textes, images fixes ou animées,
                    base de données, programmes, etc., sont protégés par le droit d'auteur.<br>

                    Bernezac Communication ne vous concède qu'une autorisation de visualisation de son contenu à titre
                    personnel et privé, à l'exclusion de toute visualisation ou diffusion publique.<br>

                    L'autorisation de reproduction ne vous est concédée que sous forme numérique sur votre ordinateur de
                    consultation aux fins de visualisation des pages consultées par votre logiciel de navigation.<br>

                    L'impression papier est autorisée aux fins de copie privée à l'usage exclusif de copiste au sens de
                    l'article L. 122-5 2° du Code de la Propriété Intellectuelle.<br>

                    La création d'un lien hypertexte vers une adresse du site nécessite l’accord préalable de l’ASEPT
                    des Charentes.
                    Toute autre utilisation non expressément visée aux présentes n'est pas permise et nécessite l'accord
                    préalable de l’ASEPT.</p>
                <p>
                    <strong style="font-weight: 800">Liens vers d’autres sites</strong><br>

                    A partir de ce site, vous pouvez éventuellement accéder à des sites tiers par l’intermédiaire de
                    liens hypertextes.
                    Ces sites tiers ne sont pas sous notre contrôle et nous ne sommes pas responsables de la
                    disponibilité de ces sites et de leur contenu.<br>

                    La mise à votre disposition de liens est faite pour votre information et n’implique aucune
                    responsabilité de la part de l’ASEPT.
                    Nous ne pouvons être tenus responsables de pertes ou de dommages qui pourraient résulter de
                    l’utilisation de ces sites tiers ou de contrats résultant de l’utilisation de ces sites tiers.<br>

                    Vos transactions avec tout fournisseur tiers sont uniquement entre vous et le fournisseur tiers et
                    sont soumises aux conditions applicables à ces transactions.
                </p>
                <p>
                    <strong style="font-weight: 800">Crédits photos</strong> <br>
                    © Asept Limousin<br>

                    <a href="https://stock.adobe.com/" target="_blank">© stock.adobe.com</a>
                </p>
                <h2>Protection des données personnelles</h2>
                <p>L’ASEPT des Charentes s'engage à ce que la collecte et le traitement de vos données, effectués à
                    partir de notre site, soient conformes au règlement général sur la protection des données (RGPD) et
                    à la loi Informatique et Libertés.</p>
                <p>
                    La collecte des données personnelles est toujours accompagnée d'informations indiquant la finalité
                    du traitement, la durée de conservation des données collectées et la façon d’exercer vos droits.</p>
                <p>
                    Les informations personnelles concernant les visiteurs de notre site, y compris leur identité, sont
                    confidentielles. Le responsable du site s'engage sur l'honneur à respecter les conditions légales de
                    confidentialité applicables en France et à ne pas divulguer ces informations à des tiers.</p>
                <p>
                    Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de
                    données personnelles, vous pouvez, sous réserve de la fourniture d’une pièce justificative
                    d’identité :<br>
                    Ecrire à l’ASEPT des Charentes – 1, boulevard Vladimir 17106 Saintes cedex<br>
                    Ou adresser un courrier électronique à : <a href="mailto:contact@asept-limousin.fr">
                        contact@asept-limousin.fr</a> </p>

                <h2>Exploitation des informations</h2>
                <p>Malgré le soin apporté au traitement des informations, Bernezac Communication décline toute
                    responsabilité concernant les erreurs ou omissions portant sur les informations diffusées sur ce
                    site.</p>
                <p>
                    Bernezac Communication ne peut être tenue responsable de l'interprétation des informations contenues
                    dans ce site, ni des conséquences de leur utilisation.</p>
                <p>
                    Aucune garantie n’est donnée que ce site sera disponible sans interruption et aucune responsabilité
                    ne peut être acceptée concernant des pertes ou dommages résultant d’une indisponibilité du site.
                </p>
                <h2>Utilisation des cookies </h2>
                <p>La navigation sur le site ASEPT-limousin.fr est susceptible de provoquer l’installation de cookie(s)
                    sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas
                    l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation
                    d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure
                    sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
                <p>
                    Ces cookies sont utilisés pour mesurer le nombre de visites, le nombre de pages vues ainsi que
                    l'activité et la fréquence de retour des visiteurs sur le site.</p>
                <p>
                    Si vous souhaitez supprimer ou bloquer n’importe lequel de ces cookies, reportez vous à la zone
                    d’assistance et de support de votre navigateur internet pour connaître les instructions sur la
                    manière de localiser le fichier ou le répertoire dans lequel il est conservé.</p>
                <p>
                    Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.
                </p>


                <div class="clear"></div>

            </div>



        </div>
</section>
<!--------------------------->


<!-------------------------------------FOOTER-------------------------------------->
{% endblock main %}