<section class="transparent">   
    <div class="swiper-container" id="suite">
        <div class="swiper-wrapper">  
            <div class="swiper-slide slide18">
              <div class="blocTexte">
               <h2 data-swiper-parallax="-400"><span>Bien chez soi</span>
Réunions prévention Séniors à domicile Limousin</h2>         
            </div>
              </div>         
           
        </div>
          
    </div>
 <div class="courbe"></div>

     </section>